.alert{
  padding: 32px;
  padding-top: 64px;
  width: auto;
  overflow: auto;
  margin-left:auto;
  margin-right:auto;
  min-height: calc(100% - 320px);  
  margin-bottom: 16px;
  border-radius: 5px;
}

.alert button{
  float: right;
  border-radius: 5px;
  border: none;
  background-color: white;
  color: black;
  padding: 8px;
  margin: 8px;
  font-weight: bold;

  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.alert button:hover,
.alert button:focus{
  cursor: pointer;
}

.alert-okay{
  background-color: rgba(0, 255, 0, 0.2);
}

.alert-okay strong,
.alert-okay button{
  color: green;
}

.alert-okay button:hover,
.alert-okay button:focus{
  color: white;
  background-color: green;
}

.alert-error{
  background-color: rgba(255, 0, 0, 0.2);
}

.alert-error strong,
.alert-error button{
  color: red;
}

.alert-okay button,
.alert-error button{
  background-color: white;
}

.alert-error button:hover,
.alert-error button:focus{
  color: white;
  background-color: red;
}