#total-price{
  float: right;
  margin-right: 20%;
}

#check-out-wrap{
  width: 100%;
  margin-bottom: 64px;
  margin-top: 75px;
  overflow: auto;
}

#check-out-wrap a{
  margin-right: calc(20% - 8px);
  text-decoration: none;
  float: right;
}

#check-out-wrap input{
  border: none;
  background-color: orangered;
  border-radius: 5px;
  padding: 8px;
  color: white;
  font-weight: bold;
}

#check-out-wrap input:hover,
#check-out-wrap input:focus{
  background-color: orange;
  -webkit-transition: background-color 0.25s ease 0s;
  -moz-transition: background-color 0.25s ease 0s;
  transition: background-color 0.25s ease 0s;
}

.product-price .amount,
.product-price .change{
  margin: 8px 4px;
  border: none;
  border-radius: 5px;
  padding: 8px;
  font-weight: bold;
  background-color: #EEE;
  min-width: 33px;
  width: 33px;
  text-align: center;
  float: left
}

.product-price .change{
  float: left;
  width: 66px;
}

.product-price .change:hover{
  cursor: pointer;
  background-color: #999;
  color: black;
}

#product-list.cart .product-price span{
  float: left;
  margin-top: 12px;
}

@media screen and (max-width: 793px) {
  #total-price{
    margin-right: 10%;
  }

  #check-out-wrap a{
    margin-right: calc(10% - 8px);
  }
}