#checkout{
	width: calc(100% - 8px);
	overflow: auto;
	min-height: 400px;
	padding-left: 8px;
}

#checkout .column{
	float:left;
	width: calc(50% - 40px);
	background-color: #DDD;
	border-radius: 5px;
	padding: 16px;
	margin: 8px 8px 0 0;
}

#addresses #same-address{
	width: calc(100% - 40px);
	float: none;
}

#addresses{
	overflow: hidden;
}

#addresses span{
	float: left;
	width: 100%;
}

#addresses .column{
	-webkit-transition: opacity 0.5s ease 0s,
							margin 1s ease 0.25s,
							width 1s ease 0.25s,
							padding 1s ease 0.5s;
	-moz-transition: opacity 0.5s ease 0s,
							margin 1s ease 0.25s,
							width 1s ease 0.25s,
							padding 1s ease 0.5s;
	transition: opacity 0.5s ease 0s,
							margin 1s ease 0.25s,
							width 1s ease 0.25s,
							padding 1s ease 0.5s;
	opacity: 1;
}

#addresses .column.fullwidth{
	width: calc(100% - 40px);
}

#addresses .column.invisible{
	opacity: 0;
	width: 0;
	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
	margin-right: 0;
}

#addresses .column{
	width: calc(50% - 40px);
}

#reviewCol .column{
	width: calc(100% - 40px);
}

#checkout .column input[type="text"],
#checkout .column input[type="email"]{
	width: calc(100% - 20px);
	background-color: #EEE;
	border: none;
	padding: 8px;
	border-radius: 5px;
	margin: 2px 2px 16px 2px;
}

#checkout .column select{
	width: calc(100%);
	background-color: #EEE;
	border: none;
	padding: 8px;
	border-radius: 5px;
	margin: 2px 2px 16px 2px;
}

#checkout .column input[type="radio"],
#checkout .column input[type="checkbox"]{
	width: calc(50px);
	background-color: #EEE;
	border: none;
	padding: 8px;
	border-radius: 5px;
	margin: 0;
}

#checkout .column textarea{
	width: calc(100% - 20px);
	min-width: calc(100% - 20px);
	max-width: calc(100% - 20px);

	height: calc(100px);
	min-height: calc(100px);
	max-height: calc(100px);

	background-color: #EEE;
	border: none;
	padding: 8px;
	border-radius: 5px;
	margin: 2px 2px 16px 2px;
}

#checkout .street{
	width: calc(80% - 24px) !important;
	margin-right: 8px !important;
	float: left;
}

#checkout .number{
	width: calc(20% - 24px) !important;
  float: right;
}

#place-order{
	overflow: hidden;
	margin-bottom: 64px;
}

#place-order button{
	float: right;
	margin: 8px;
	border: none;
	background-color: orangered;
	border-radius: 5px;
	padding: 8px;
	color: white;
	font-weight: bold;
}

#place-order button:hover,
#place-order button:focus{
	background-color: orange;
	-webkit-transition: background-color 0.25s ease 0s;
	-moz-transition: background-color 0.25s ease 0s;
	transition: background-color 0.25s ease 0s;
}

#place-order button:disabled{
	background-color: grey;
	color: #333;
	cursor: default;
}

#checkout .column .product{
	width: 100%;
	overflow: hidden;
	margin-bottom: 8px;
}

#checkout .column .product-image{
	height: 100%;
	float: left;
	width: 10%;
}

#checkout .column .product-image img{
	width: 100%;
}

#checkout .column .product-description{
	float: right;
	font-size: small;
	width: calc(90% - 32px);
}

#reviewCol #total-price{
  margin-right: 35px;
}

@media screen and (max-width: 793px) {
	#checkout{
		width: calc(100% - 16px);
	}

  #checkout .column{
    width: calc(100% - 32px);
  }
}