#inner-wrap{
  min-height: calc(100% - 224px) /*224*/
}

/* ################################ PRODUCT ######################################## */

#product-list{
  padding: 32px;
  padding-top: 64px;
  width: calc(90% - 64px);
  min-width: 360px;
  max-width: 1080px;
  overflow: auto;
  min-height: calc(100% - 320px);
  margin-left: auto;
  margin-right: auto;
}

#product-list #spinner-wrap{
  height: calc(100% - 320px);
  width: 100%;
  margin: 50px 0;
  display:flex;
  justify-content:center;
  align-items:center;
}

#product-list #fidget-spinner{
  margin: auto 10px;
  width: 100px;
  height: 100px;
}

#product-list .product{
  min-width: calc(25% - 40px);
  width: calc(25% - 40px);
  overflow: hidden;
  float: left;
  background-color: white;
  padding: 4px;
  border-bottom: 1px solid rgb(163, 163, 163);
  margin: 0 16px;
  padding-bottom: 32px;
  padding-top: 32px;
  height: 320px;
  -webkit-transition: padding 0.5s ease 0s, margin 0.5s ease 0s, height 0.5s ease 0s;
  -moz-transition: padding 0.5s ease 0s, margin 0.5s ease 0s, height 0.5s ease 0s;
  transition: padding 0.5s ease 0s, margin 0.5s ease 0s, height 0.5s ease 0s;
}

#product-list a .product:hover{
  background-color: #EEE;
  -webkit-transition: background-color 0.5s ease 0s;
  -moz-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
}

#product-list .product .product-description{
  width: calc(90% - 16px);
  margin: 8px auto;
  padding-bottom: 16px;
}

#product-list a{
  text-decoration: none;
  color: initial;
}

#product-list .product .product-image{
  height: 150px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 16px;
}

.product .product-price{
  border-radius: 5px;
  background-color: cornflowerblue;
  color: white;
  padding: 2px 5px;
  float: right;
  margin-bottom: 16px;
}

#product-list .product .product-image img{
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 10px 20px -10px #000;
}

/* ############################ PRODUCT COMPACT #################################### */

#product-list.compact .product{
  min-width: 320px;
  width: 100%; /*calc(25% - 10px);*/
  overflow: hidden;
  float: none;
  background-color: white;
  padding: 4px;
  border-bottom: 1px solid rgb(163, 163, 163);
  margin: 0;
  padding-bottom: 16px;
  padding-top: 16px;
  height: 120px;
}

#product-list.compact .product .product-description{
  width: calc(90% - 8px);
  margin: 8px auto;
  padding-bottom: 8px;
}

#product-list.compact .product .product-image{
  float: left;
  height: 100px;
  width: 100px;
  margin: 0 11px;
  padding-bottom: 0;
}

#product-list.compact .product .product-image img{
  height: 100%;
  display: block;
  margin: 0 auto;
}

/* ############################## PRODUCT CART ##################################### */

#product-list.cart{
  border-bottom: 1px solid black;
  margin-bottom: 16px;
}


#product-list.cart .product{
  min-width: 320px;
  width: 100%; /*calc(25% - 10px);*/
  overflow: hidden;
  float: none;
  background-color: white;
  border-bottom: 1px solid rgb(163, 163, 163);
  padding: 0;
  padding-top: 8px;
  margin: 0;
  height: 100px;
}

#product-list.cart .product:last-child{
  border-bottom: none;
  margin-bottom: 0;
}

#product-list.cart .product .product-description{
  width: calc(90% - 8px);
  margin: 4px auto;
  padding-bottom: 8px;
  padding-left: 16px;
}

#product-list.cart .product .product-description p{
  width: calc(50%);
  float: left;
}

#product-list.cart .product .product-image{
  float: left;
  height: 50px;
  width: 50px;
  margin: 0 5px;
  padding-bottom: 0;
}

#product-list.cart .product .product-image img{
  height: 100%;
  display: block;
  margin: 0 auto;
  box-shadow: 0 5px 15px -10px #000;
}

#product-list.cart .product .product-price{
  border-radius: 5px;
  background-color: transparent;
  color: black;
  padding: 2px 5px;
  float: right;
  margin-bottom: 16px;
  margin-right: 100px;
}

@media screen and (max-width: 793px) {
  #product-list.cart .product .product-description p{
    width: calc(100%);
  }
}

/* ################################# REVIEW ######################################## */

#product-list.review{
  padding-top: 8px;
  margin-bottom: 16px;
}

#product-list.review .product{
  width: 100%;
  overflow: hidden;
  float: none;
  background-color: transparent;
  border-bottom: 1px solid rgb(163, 163, 163);
  padding: 0;
  padding-top: 8px;
  margin: 0;
  height: 60px;
}

#product-list.review .product:last-child{
  border-bottom: none;
  margin-bottom: 0;
}

#product-list.review .product .product-image img{
  height: 90%;
  width: auto;
  display: block;
  margin: 0 auto;
  box-shadow: 0 2px 15px -10px #000;
}

#product-list.review .product .product-description{
  width: calc(90% - 16px);
  margin: 0 auto;
  padding: 0;
  padding-left: 8px;
}

#product-list.review .product .product-price{
  border-radius: 5px;
  background-color: #FFF;
  color: black;
  padding: 2px 5px;
  float: right;
  max-width: 150px;
}

/* ################################## MEDIA ######################################## */

@media screen and (max-width: 1513px) {
  #product-list, #total-price{
    max-width: 1153px;
  }
}

@media screen and (max-width: 1153px) {
  #product-list, #total-price{
    max-width: 720px;
  }
}

@media screen and (max-width: 793px) {
  #product-list, #total-price{
    max-width: calc(100% - 64px);
    min-width: auto;
    width: auto;
  }

  #product-list .product{
    min-width: calc(100% - 40px);
    width: calc(100% - 40px);
    overflow: hidden;
    float: left;
    background-color: white;
    padding: 4px;
    border-bottom: 1px solid rgb(163, 163, 163);
    margin: 0 16px;
    padding-bottom: 32px;
    padding-top: 32px;
    height: 320px;
    -webkit-transition: padding 0.5s ease 0s, margin 0.5s ease 0s, height 0.5s ease 0s;
    -moz-transition: padding 0.5s ease 0s, margin 0.5s ease 0s, height 0.5s ease 0s;
    transition: padding 0.5s ease 0s, margin 0.5s ease 0s, height 0.5s ease 0s;
  }
}