/* ######################### PRODUCT DETAILS ##########################*/

#product-details{
  background-color: white;
  padding: 16px;
  overflow: auto;
  width: 90%;
  margin: 0 auto;
  min-height: calc(100% - 256px);
}

#product-image{
  width: 25%;
  padding: 32px;
  padding-left: 0;
  float: left;
  position: relative;
}

#product-image img{
  width: 75%;
  margin-left: 12.5%;
  box-shadow: 0 20px 30px -15px #333;
  z-index: 0;
  position: relative;
}

#product-price{
  float: right;
  margin: 8px 4px;
  border: none;
  border-radius: 5px;
  padding: 8px;
  background-color: #EEE;
  min-width: 75px;
  width: 75px;
  text-align: center;
}

#product-description{
  font-size: small;
  padding: 32px;
  width: calc(75% - 96px);
  float: right;
}

#product-description p{
  padding-bottom: 0;
}

#product-data{
  border-bottom: 1px solid #666;
  overflow: hidden;
  padding-top: 16px;
}

#product-title{
  font-size: x-large;
}

#product-author{
  float: left;
}

#product-publisher,
#product-isbn{
  float: right;
  padding-right: 8px;
}

#product-stars{
  text-align: center;
  color: white;
  background-color: rgb(255, 115, 0);
  border-radius: 25px;
  width: 55pt;
  margin: 0;
  z-index: 1;
  position: absolute;
  top: 55px;
  left: 18px;
  box-shadow: 0 10px 15px -7px black;
}

#product-remark{
  text-align: center;
  color: white;
  background-color: black;
  border-radius: 25px;
  padding: 0 10px;
  margin: 0;
  z-index: 1;
  position: absolute;
  top: 55px;
  right: 55px;
  box-shadow: 0 10px 15px -7px black;
}

#product-remark.newcomer { background-color: rgb(255, 115, 0); }
#product-remark.preOrder { background-color: rgb(0, 115, 255); }

#product-stars.s1{ background-color: darkred;}
#product-stars.s2{ background-color: red;}
#product-stars.s3{ background-color: orangered;}
#product-stars.s4{ background-color: greenyellow; color: darkgreen}
#product-stars.s5{ background-color: green;}

@media screen and (max-width: 793px) {
  #product-details{
    width: calc(100% - 32px);
    overflow-x: hidden;
  }

  #product-image{
    width: 100%;
  }

  #product-data{
    border-bottom: 1px solid #666;
    overflow: initial;
    padding-top: 16px;
  }

  #product-description{
    width: calc(100% - 64px);
  }
}

#add-to-cart-wrap{
    font-weight: bold;
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 64px;
    float: right;
}

#add-to-cart-wrap input{
    margin: 8px 4px;
    border: none;
    border-radius: 5px;
    padding: 8px;
    font-weight: bold;
    background-color: #EEE;
    text-align: center;
}

#add-to-cart-wrap #detailQuanity{
    float: right;
    margin: 8px 4px;
    border: none;
    border-radius: 5px;
    padding: 8px;
    font-weight: bold;
    background-color: #EEE;
    min-width: 33px;
    width: 33px;
    text-align: center;
}

#add-to-cart-wrap input[type="submit"]{
    float: right;
    margin: 8px 4px;
    border: none;
    background-color: orangered;
    border-radius: 5px;
    padding: 8px;
    color: white;
    font-weight: bold;
    -webkit-transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
}

#add-to-cart-wrap input[type="submit"]:disabled,
#add-to-cart-wrap input[type="submit"]:hover:disabled{
    background-color: grey;
    color: #333;
    cursor: default;
}

#add-to-cart-wrap input[type="submit"]:hover,
#add-to-cart-wrap input[type="submit"]:focus{
    background-color: orange;
    cursor: pointer;
}

#add-to-cart-wrap .amount{
  float: right;
}

/* EDIT PRODUCT BUTTON */

#editProductBtn{
    float: right;
    border: none;
    border-radius: 5px;
    padding: 8px;
    background-color: #AAA;
    color: white;
    cursor: pointer;
    margin: 8px 4px;
    -webkit-transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
}