#genreList{
	padding-top: 8px;
}

.genre{
	margin-left: 8px;
	margin-bottom: 8px;
	float: left;
	background-color: #491163;
	color: white;
	font-weight: bold;
	padding: 16px;
	width: calc(25% - 42px);
	height: 50px;
	display: flex;
	align-items: center;  
}

.genre p{
	text-align: center;
	width: 100%;
}

@media screen and (max-width: 793px) {
  .genre{
		width: calc(50% - 48px);
  }
}

@media screen and (max-width: 500px) {
  .genre{
		width: calc(100% - 48px);
  }
}