html{
  width: 100%;
  min-height: 100% !important;
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  min-height: 100% !important;
  height: 100%;
  background-color: white;
}

/* ############################# CUSTOM CHECKBOX ####################################### */

label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

label input {
    position: absolute;
    opacity: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px !important;
    margin-top: -2px !important;
    background-color: #cbc7e9;
    border-radius: 5px;
}

label:hover input ~ .checkmark {
    background-color: #a49aeb;
}

label input:checked ~ .checkmark {
    background-color: #513dd1;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

label input:checked ~ .checkmark:after {
    display: block;
}

label .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px !important;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* ############################ HEADER BAR ##################################*/

#login{
  background-color:  #261288;
  float: right;
}

.dropbtn {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    width: 100%;
    max-width: 100%;
    font-size: 12pt;
}

.dropdown{
  height: 100%;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    margin-top: 0;
    margin-left: -16px;
    z-index: 10;
}

.dropdown-content a,
.dropdown-content span {
    color: black;
    padding: 4px 8px;
    font-size: small;
    text-decoration: none;
    display: block;
    -webkit-transition: background-color 0.25s ease 0s;
    -moz-transition: background-color 0.25s ease 0s;
    transition: background-color 0.25s ease 0s;
}

.dropdown-content a:hover,
.dropdown-content span:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* ############################ MAIN ##################################*/

#root{
  float: none;
  clear: both;
  width: 100%;
  height: calc(100%);
  overflow: visible;
  background-color: white;
}

#static-categories{
  width: calc(100%);
  /*overflow: auto;*/
  height: calc(100% - 224px);
}

#static-categories .cate{
  float: left;
  height: 250px;
  width: calc(50% - 32px);
  padding: 16px;
  text-align: center;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color: #513dd1;
  color: white;
}

#static-categories .cate p{
  font-size: xx-large;
  font-weight: bold;
}

@media screen and (max-width: 793px) {
  #static-categories .cate{
    float: left;
    height: 100px;
    width: calc(100% - 32px);
    padding: 16px;
    text-align: center;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #513dd1;
    color: white;
  }
}

/* ############################ FOOTER ################################*/

#footer{
  position: relative;
  margin: 0;
  padding: 8px;
  height: 150px;
  width: calc(100% - 16px);
  background-color: #070513;
  color: white;
  overflow: auto;
}

#footer-list{
  float: left;
  display:flex;
  justify-content:right;
  align-items:center;
  height:150px;
}

#footer-list li{
  list-style: none;
  font-size: small;
  color: #513dd1;
}

#footer-list li a{
  text-decoration: none;
  color: #513dd1;
}

#footer-list li a:hover{
  color: #7767df;
}

#impressum, #contact, #faq, #prDetails{
  padding: 32px;
  width: calc(100% - 64px);
  min-height: calc(100% - 288px);
}

/* ################################# COLUMNS ############################### */

.column {
  float: left;
  width: calc(50% - 40px);
  background-color: #DDD;
  border-radius: 5px;
  padding: 16px;
  padding-bottom: 32px;
  margin: 0 8px 8px 0;
}

.column.address{
  float: none;
  overflow: auto;
  max-height: 500px;

  -webkit-transition: max-height 1s ease 0s, color 1s ease 0s;
  -moz-transition: max-height 1s ease 0s, color 1s ease 0s;
  transition: max-height 1s ease 0s, color 1s ease 0s;
}

.column.address.hide{
  float: none;
  overflow: hidden;
  max-height: 30px;
  color: grey;
}

/* ##################################### GENRE (EDIT BUTTON) ###################################### */

#editGenresBtnDiv{
  width: 100%;
  overflow: auto;
}

#editGenresBtn{
    float: right;
    border: none;
    border-radius: 5px;
    padding: 8px;
    background-color: #AAA;
    color: white;
    cursor: pointer;
    margin: 8px 4px;
    -webkit-transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
}