.loader {
    border: 4px solid #DDD;
    border-top: 4px solid #513dd1;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 2s ease-in-out infinite;
    float: right;
    margin-top: 12px;
    margin-right: 12px;
    margin-left: 12px;
}

.loader.big {
    border: 16px solid #DDD;
    border-top: 16px solid #513dd1;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s ease-in-out infinite, borderChange 6s alternate infinite;
    float: right;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes borderChange {
    0% { 
        border-top: 16px solid #3c73d1;
    }
    33% { 
        border-top: 16px solid #503cd1; 
    }
    66% { 
        border-top: 16px solid #9a3cd1; 
    }
    100% { 
        border-top: 16px solid #3c73d1; 
    }
}