#login-submit{
  border: none;
  border-radius: 5px;
}

#login-submit:hover{
  cursor: pointer;
  background-color: grey;
  color: white;
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}
