.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 10px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
}

.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 8px;
	border: 1px solid #888;
	width: 600px;
	overflow: auto;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-content .title{
    padding-bottom: 25px;
}

.modal-content p, .modal-content span{
    margin: 8px;
}

.modal-content input,
.modal-content textarea,
.modal-content button{
    padding: 8px;
    margin: 8px;
    border: none;
    border-radius: 5px;
    background-color: #DDD;
}

.modal-content textarea{
    min-width: calc(100% - 32px);
    width: calc(100% - 32px);
    max-width: calc(100% - 32px);
    min-height: 6em;
    height: 6em;
    max-height: 6em;
}

.modal-content input[type="text"],
.modal-content input[type="password"]{
    width: calc(100% - 32px);
}

.modal-content input:hover{
    background-color: #EEE;
}

.modal-content span.half,
.modal-content input.half{
    width: calc(50% - 32px);
    float:left;
}

#login-submit{
    float: right;
}

#login-submit:after{
    float: none;
    clear: both;
}

#createPrPages{
    width: 100%;
    margin-bottom: 16px;
}

#createPrPages p{
    float: left;
    width: calc(25% - 32px);
    border-bottom: 1px rgb(75, 100, 125) solid;
    padding: 8px;
}

#createPrPages p:hover{
    background-color: rgb(203, 251, 255);
}

#createPrPages p.active,
#createPrPages p.active:hover{
    background-color: rgb(153, 201, 255);
}

#imageDiv .image{
    width: calc(33.333333% - 8px);
    margin: 2px;
    border: 2px transparent solid;
}

#imageDiv .image.selected{
    width: calc(33.333333% - 8px);
    margin: 2px;
    border: 2px orangered solid;
}

#imageDiv .image:hover{
    cursor: pointer;
    border: 2px rgba(77, 77, 77, 0.5) solid;
}

.genreCheckbox{
    width: 100%;
    overflow: auto;
}

.genreCheckbox input[type="checkbox"]{
    float: left;
}

#genreList .genre-input{
    width: calc(100% - 81px);
    float: left;
}

#genreList .genre-delete{
    width: 33px;
    height: 33px;
    background-color: red;
    color: white;
		font-weight: bold;
    float: left;
}

#genreList .genre-delete:hover{
    background-color: rgb(214, 46, 46);
}

@media screen and (max-width: 793px) {
  .modal {
		width: calc(100% - 16px);
		padding: 8px;
	}

	.modal-content {
		min-width: calc(100% - 16px);
    width: calc(100% - 16px);
	}

	.modal-content p.half,
	.modal-content input.half,
	.modal-content input[type="file"],
	.modal-content textarea,
	.modal-content button{
		width: calc(100% - 32px);
	}
}