#header{
  margin: 0;
  padding: 0;
  height: 58px;
  width: 100%;
  background-color: #100542;
  color: white;
  z-index: 1;
}

#logo{
  float: left;
  padding: 4px 16px;
  display:flex;
  justify-content:center;
  align-items:center;
  height:50px;
  width: 300px;
  overflow: hidden;
  -webkit-transition: background-color 0.25s ease 0s;
  -moz-transition: background-color 0.25s ease 0s;
  transition: background-color 0.25s ease 0s;
}

#logo:hover{
  background-color: #261288;
}

#logo img{
  max-height: 80px;
  width: 100px;
}

@media screen and (max-width: 793px) {
  #logo{
    width: 75px;
    padding: 4px;
  }
}

#searchbar{
  padding: 4px 8px;
  display:flex;
  justify-content:flex-start;
  align-items:center;
  height:50px;
}

#searchbar form{
  width: calc(100% - 16px);
}

#searchbar input[type="search"],
#searchbar input[type="text"] {
  padding: 10px 20px;
  border: none;
  -webkit-transition: border 0.3s;
  -moz-transition: border 0.3s;
  transition: border 0.3s;
  border-radius: 5px;
  width: calc(100% - 40px);
}

#cart{
  float: right;
  padding: 4px 16px;
  margin-right: 5px;
  justify-content:center;
  align-items:center;
  height:50px;
  width: 150px;
  background-color: #150855;
  cursor: pointer;
  position: relative;
  display: block;
}

#cart img{
  float:left;
  height: 30px;
  padding: 10px 10px;
  justify-content:center;
  align-items:center;
}

#cart p{
  float: right;
  border-radius: 5px;
  background-color: white;
  color: black;
  padding: 5px 10px;
  margin-top: 10px;
  font-size: 12pt;
  line-height: 12pt;
  vertical-align: middle;
  max-height: 12pt;
}

@media screen and (max-width: 793px) {
  #cart{
    width: 110px;
    padding: 4px;
  }
}

#cart:hover{
  background-color: #261288;
  -webkit-transition: background-color 0.25s ease 0s;
  -moz-transition: background-color 0.25s ease 0s;
  transition: background-color 0.25s ease 0s;
}

#cart::after{
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

#account{
  float: right;
  padding: 4px 16px;
  justify-content:center;
  align-items:center;
  background-color: #150855;
  font-size: 12pt;

  height:50px;
  width: 150px;
  cursor: pointer;
  position: relative;
  display: block;
}

#account-burger div{
  width: 0;
  margin: 0;
  padding: 0;
}

#account:hover{
  background-color: #261288;
  -webkit-transition: background-color 0.25s ease 0s;
  -moz-transition: background-color 0.25s ease 0s;
  transition: background-color 0.25s ease 0s;
}

@media screen and (max-width: 793px) {
  #account{
    width: 0;
    margin: 0;
    padding: 0;
  }

  #account-burger {
    width: 40px;
    float: right;
    height: 46px;
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 0;
  }

  #account-burger:hover,
  #account-burger:focus {
    cursor: pointer;
    background-color: #261288;
  }

  #account-burger div{
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    overflow: hidden;
    border-radius: 5px;
  }
}

.dropdown-content a .adminBadge{
  display: inline;
  background-color: cadetblue;
  border-radius: 5px;
  padding: 3px;
  color: white;
  font-size: x-small;
}