#orderDetails{
  padding: 32px;
  padding-top: 64px;
  width: auto;
  overflow: auto;
  margin-left:auto;
  margin-right:auto;
  min-height: calc(100% - 320px);  
  margin-bottom: 16px;
  border-radius: 5px;
}

#orderDetails{
  padding-top: 64px;
  min-height: calc(100% - 320px); 
}

#order-list.admin .adminAction{
  overflow: hidden;
  padding-bottom: 32px;  
  float: left;
  background-color: #EEE;
  padding: 0;
  margin: 0 0 0 16px;
  width: calc(23%);
  height: 65px;
  display: flex;
  align-items: center;
}

#order-list.admin .adminAction button{
  border:none;
  border-radius: 5px;
  background-color: #AAA;
  color: #EEE;
  padding: 16px 4px;
  margin-right: 8px;
  float: right;
  font-size: small;
  font-weight: bold;
  width: calc(100% - 8px);

  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

#order-list.admin .adminAction button:hover,
#order-list.admin .adminAction button:focus{
  cursor: pointer;
}

#order-list.admin .adminAction button:hover.btnApr{ background-color: rgb(255, 165, 0); }
#order-list.admin .adminAction button:hover.btnRej{ background-color: rgb(139, 0, 0); }
#order-list.admin .adminAction button:hover.btnHol{ background-color: rgb(128, 128, 128); }
#order-list.admin .adminAction button:hover.btnCre{ background-color: rgb(173, 255, 47); color: black }
#order-list.admin .adminAction button:hover.btnSen{ background-color: rgb(75, 0, 130); }
#order-list.admin .adminAction button:hover.btnCom{ background-color: rgb(0, 128, 0); }

#order-list .order{
  min-width: 320px;
  overflow: hidden;
  border-bottom: 1px solid rgb(163, 163, 163);
  padding-bottom: 32px;  
  float: none;
  background-color: #EEE;
  padding: 0;
  margin: 0;
  width: calc(100% - 10px);
}

.order{
  border-left: #EEE solid 10px;
}

.order .wrap{
  color: black;
  text-decoration: none;
}

.orderId, .totalValue, .shipDate{
  width: calc(33.33333333333333333333% - 16px);
  padding: 8px;
  height: 57px;
}

#order-list.admin .orderId, #order-list.admin .totalValue, #order-list.admin .shipDate{
  width: calc(33.333333333333333333333% - 16px);
  padding: 8px;
  height: 49px;
}

#order-list.admin .accordion{
  width: 75%;
  overflow: auto;
  float: left;
}

#order-list.admin .accordion:hover{
  cursor: pointer;
  background-color: rgb(228, 228, 228);
}

#order-list.admin .panel{
  padding: 0;
  background-color: white;
  max-height: 0;
  overflow: auto;
  transition: max-height 0.2s ease-out;
  width: 100%;
  height: auto;
}

#order-list .product{
  border-bottom: 1px solid #DDD;
  padding: 8px;
  height: 108px;
  width: calc(100% - 16px);
}

#order-list .product:hover{
  background-color: #DDD;
}

#order-list .product p,
#order-list .product a{
  text-decoration: none;
  color: black;
}

#orderDetails .product p,
#orderDetails .product a{
  text-decoration: none;
  color: black;
}

#order-list .product .product-image img{
  width:  auto !important;
  height: 100px !important;
  float: left;
  margin-right: 16px;
}

#order-list .product .amount{
  float: right;
}

.remove{
  width: calc(100% - 8px);
  overflow: hidden;
}

.remove button{
  border: none;
  background-color: red;
  border-radius: 5px;
  padding: 8px;
  color: white;
  font-size: small;
  float: right;
}

.remove button:hover,
.remove button:focus{
  background-color: orange;
  cursor: pointer;
  -webkit-transition: background-color 0.25s ease 0s;
  -moz-transition: background-color 0.25s ease 0s;
  transition: background-color 0.25s ease 0s;
}

.remove button:disabled{
  background-color: grey;
  color: #333;
}

.remove button:disabled:hover{
    cursor: default;
}

.orderId{
  float: right;
}

#order-list.compact .orderId{
  float: none;
  border-bottom: 1px solid #DDD;
}

.totalValue{
  float: right;
  text-align: right;
}

.shipDate{
  float: right;
  text-align: center;
  font-size: small;
}

.remove{
  text-align: center;
  font-size: small;
}

#state .col,
#stateDetail .col{
  float:left;
  font-size: small;
  width: calc(100% / 9 - 17px);
  padding: 0 8px;
  background-color: #DDD;
  color: #AAA;
  text-align: center;
}

#stateDetail{
  height: 42px;
}

#stateDetail .col{
  width: calc(100% / 8 - 17px);
}

#state .col.sep{
  margin-right: 9px;
}

#stateDetail .col.sep{
  margin-right: 8px;
}

#state .col:hover{
  background-color: #BBB;
  color: white;
  cursor: pointer;
}

.col.active0{ background-color: mediumpurple !important;     color: white !important;}
.col.active1{ background-color: cornflowerblue !important;   color: white !important;}
.col.active2{ background-color: orange !important;           color: white !important;}
.col.active3{ background-color: greenyellow !important;      color: black !important;}
.col.active4{ background-color: indigo !important;           color: white !important;}
.col.active5{ background-color: green !important;            color: white !important;}
.col.active6{ background-color: orangered !important;        color: white !important;}
.col.active7{ background-color: grey !important;             color: #AAA !important;}
.col.active8{ background-color: darkred !important;          color: white !important;}

.order.ORDER_PROCESSING{ border-left: cornflowerblue solid 10px;}
.order.ORDER_APPROVED{ border-left: orange solid 10px;}
.order.ORDER_CREATED{ border-left: greenyellow solid 10px;}
.order.ORDER_SENT{ border-left: indigo solid 10px;}
.order.ORDER_COMPLETED{ border-left: green solid 10px;}
.order.ORDER_CANCELLED{ border-left: orangered solid 10px;}
.order.ORDER_HOLD{ border-left: grey solid 10px;}
.order.ORDER_REJECTED{ border-left: darkred solid 10px;}

#orderDetails > div{
  padding: 8px;
  background-color: #EEE;
  border-radius: 5px;
  margin-bottom: 8px;
}

#orderDetails #generalData .colDetail{
  width: 50%;
  float: left;
}

#orderDetails #state{
  height: 40px;
  padding: 0;
  border-radius: 5px;
}

#orderDetails .product{
  border-bottom: 1px solid #DDD;
  padding: 8px;
  height: 116px;
  width: calc(100% - 16px);
}

#orderDetails .product .product-image img{
  width:  auto !important;
  height: 100px !important;
  float: left;
  margin-right: 16px;
  margin-bottom: 16px;
}

#orderDetails .product .product-image{
  margin-right: 16px;
  margin-bottom: 16px;
}

#orderDetails .product .amount{
  float: right;
}

@media screen and (max-width: 1513px) {
  #order-list,
  #orderDetails{
    max-width: 1153px;
    margin: 32px auto;
  }
}

@media screen and (max-width: 1153px) {
  #order-list,
  #orderDetails{
    max-width: 720px;
    margin: 32px auto;
  }
}

@media screen and (max-width: 793px) {
  #order-list,
  #orderDetails{
    max-width: 360px;
    margin: 32px auto;
  }

  #orderDetails #generalData .colDetail{
    width: 100%;
  }

  #stateDetail{
    height: auto;
    overflow: auto;
  }

  #stateDetail .col {
    width: calc(100% - 17px);
  }

  #order-list .orderId, #order-list .totalValue, #order-list .shipDate{
    width: calc(100% - 16px);
    padding: 8px;
    height: 49px;
    float: left;
    text-align: left;
  }
}