#sorry{
    text-align: center;
    padding: 32px;
    padding-top: 64px;
    width: auto;
    overflow: auto;
    margin-left:auto;
    margin-right:auto;
    min-height: calc(100% - 320px);  
    margin-bottom: 16px;
    border-radius: 5px;
}

/* FILTER SIDE BAR */
#filterSidebar{
    width: calc(100% - 16px);
    padding: 0 8px;
    overflow: auto;
    border-bottom: 1px solid #CCC;
}

#filterSidebar .segment{
    /*background-color: #F6F6F6;
    border-radius: 5px;*/
    border-right: 1px solid #CCC;
    padding: 4px;
    margin-right: 8px;
    float: left;
    width: auto;
    height: 57px;
}

#filterSidebar .segment p{
    float: left;
    margin-right: 8px;
}

#filterSidebar .segment select{
    width: calc(100px);
    background-color: #EEE;
    border: none;
    padding: 8px;
    border-radius: 5px;
    margin: 9px 2px 16px 2px;
    float: left;
}

#filterSidebar .segment.price {
    overflow: auto;
    width: 370px;
}

#filterSidebar .segment.price input{
    width: calc(50px);
    background-color: #EEE;
    border: none;
    padding: 8px;
    border-radius: 5px;
    margin: 9px 2px 16px 2px;
    float: left;
}

#filterSidebar .segment.price span{
    width: auto;
    padding: 8px;
    margin: 9px 2px 16px 2px;
    float: left;
    font-size: small;
}

@media screen and (max-width: 793px) {
  #filterSidebar .segment{
    width: calc(100% - 8px);
    margin-right: 0;
    border-right: none;
    border-bottom: 1px solid #CCC;
  }

  #filterSidebar .segment select{
    width: calc(50%);
    float: right;
	}
	
	#filterSidebar .segment.price{
		width: calc(100% - 8px);
		height: 105px;
	}

  #filterSidebar .segment.price input{
    width: calc(33px);
		margin-right: 8px;
	  float: right;
  }

	#filterSidebar .segment.price p{
		width: calc(90%);
	}

	#filterSidebar .segment.price span{
		float: right;
	}
}

/* TOGGLE BUTTON */

#toggleDiv{
    overflow: auto;
    padding: 16px 0;
}

#toggleDiv *{
    float: right;
    border: none;
    border-radius: 5px;
    padding: 8px;
    background-color: #AAA;
    color: white;
    margin-right: 8px;
}

#toggleDiv *:focus,
#toggleDiv *:hover{
    float: right;
    border: none;
    border-radius: 5px;
    padding: 8px;
    background-color: #EEE;
    color: #555;
    cursor: pointer;
    -webkit-transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
}