#profileContent{
  padding: 32px;
  min-height: calc(100% - 288px);
  
  margin-left: 25%;
  width:calc(50% - 64px);
}

#profileContent .column{
  background-color: #eee;
  border-bottom:  1px solid grey;
}

#profileContent p{
  width: 100%;
  margin-top: 32px;
}

#profileContent select{
  padding: 8px;
  width: 100%;
}

#profileContent input,
#profileContent select{
  padding: 4px 8px;
  width: calc(100% - 32px);
  background-color: white;
  border: none;
  border-radius: 5px;

  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

#profileContent input.street{
  width: calc(100% - 100px);
  float: left;
}

#profileContent input.houseNumber{
  width: calc(44px);
  margin-right: 16px;
  margin-left: 8px;
  float: right;
}

#profileContent input.street:disabled{
  width: calc(100% - 100px);
  float: left;

  background-color: transparent;
  border: none;
}

#profileContent input.houseNumber:disabled{
  width: calc(44px);
  margin-right: 16px;
  margin-left: 8px;
  float: right;
  
  background-color: transparent;
  border: none;
}

#profileContent select{
  width: calc(100% - 16px);
}

#profileContent input.pw{
  width: calc(100% - 66px);
  float: left;
}

#profileContent span#pwStrength{
  font-size: x-small;
  float: left;
  width: calc(34px);
  margin-left: 8px;
  margin-top: 0;
}

#profileContent span#pwComp{
  font-size: normal;
  float: left;
  width: calc(34px);
  margin-left: 8px;
  margin-top: 4px;
}

#profileContent span#pwStrength span,
#profileContent span#pwComp span{
  margin-top: 0;
  width: auto;
}

#profileContent span#pwComp.okay{
  color: green;
}

#profileContent span#pwComp.nope{
  color: darkred;
}

#profileContent span#pwStrength.s0{ color: darkred; }
#profileContent span#pwStrength.s1{ color: red; }
#profileContent span#pwStrength.s2{ color: orangered; }
#profileContent span#pwStrength.s4{ color: black; }
#profileContent span#pwStrength.s4{ color: black; }
#profileContent span#pwStrength.s5{ color: green; }
#profileContent span#pwStrength.s6{ color: green; font-weight: bold; }
#profileContent span#pwStrength.s7{ color: green; font-weight: bold; text-shadow: 0 0 5px greenyellow }


#profileContent input:disabled,
#profileContent select:disabled{
  padding: 4px 8px;
  width: calc(100% - 32px);
  background-color: transparent;
  border: none;
}

#profileContent select:disabled{
  width: calc(100% - 16px);
}

#profileContent select:disabled{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#profileContent select:disabled::-ms-expand {
    display: none;
}

#profileContent span{
  margin-top: 8px;
  float: left;
  width: 100%;
}

#profileContent .toggleEditModeOff{
  border: 1px solid grey;
  border-radius: 5px;
  color: #333;
  background-color: white;
  float: right;
  padding: 4px;
  margin: 8px 8px 8px calc(50%);
  width: auto;
}

#profileContent .toggleEditModeOn{
  border: 1px solid orangered;
  border-radius: 5px;
  background-color: orangered;
  color: white;
  font-weight: bold;
  float: right;
  padding: 4px;
  margin: 8px 8px 8px calc(50%);
  width: auto;
}

#profileContent input[type="checkbox"]{
  float: left;
  width: auto;
  margin-top: 16px;
}

#profileContent label p{
  width: auto;
  margin-top: 16px;
}

@media screen and (max-width: 793px) {
	#profileContent{
		width: calc(100% - 64px);
        margin-left: 0%;
	}

	#profileContent .column{
		width: calc(100% - 40px);
	}
}