#promo{
  width: calc(100% - 100px);
  background: url(http://ell.h-cdn.co/assets/cm/15/11/5502bf828b3a0_-_opener-elle-candles-h.jpg) indigo;
  background-size: cover;
  background-repeat: none;
  background-position: center;
  /*background-attachment: fixed;*/
  padding: 50px;
}

.parallax{
  padding: 200px 0;
  /*background-position: 0px 0px;*/
  margin: 0 auto;
  -webkit-transition: all 2s ease 0s;
  -moz-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
}

#promo h1, #promo p{
  color: white;
  padding-bottom: 10px;
  text-shadow: 0 5px 15px black;
}

#promo p{
  padding-bottom: 75px;
}

#promo input{
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255,255,255,255);
  opacity: 1;
  box-shadow: 0 15px 25px -10px black;
  margin-top: 0;
  margin-bottom: 2px;
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
  color: #000;
}

#promo input:hover{
  background-color: white;
  color: #4b0082;
  box-shadow: 0 15px 15px -10px black;
  margin-top: 2px;
  margin-bottom: 0;
}

#promo input:active{
  background-color: indigo;
  color: #FFF;
}

@media screen and (max-width: 793px) {
  #promo{
    width: calc(100% - 100px);
    background: url(http://ell.h-cdn.co/assets/cm/15/11/5502bf828b3a0_-_opener-elle-candles-h.jpg) indigo;
    background-size: cover;
    background-repeat: none;
    background-position: center;
    /*background-attachment: fixed;*/
    padding: 0 50px;
    max-height: 200px;
    overflow: hidden;
  }
}