#registerContent{
  padding: 32px;
  min-height: calc(100% - 288px);
  margin-left: 25%;
  width: calc(50% - 64px);
}

#registerContent input,
#registerContent select{
  float:left;
  width: calc(100% - 16px);

  border:none;
  border-radius: 5px;
  background-color: white;
  color: black;
  padding: 4px;
}


#registerContent .disclaimer{
  color: rgb(109, 109, 109);
  font-size: x-small;
}

#registerContent input.pw{
  width: calc(100% - 66px);
  float: left;
}

#registerContent span#pwStrength{
  font-size: x-small;
  float: left;
  width: calc(34px);
  margin-left: 8px;
  margin-top: 0;
}

#registerContent span#pwComp{
  font-size: normal;
  float: left;
  width: calc(34px);
  margin-left: 8px;
  margin-top: 4px;
}

#registerContent span#pwStrength span,
#registerContent span#pwComp span{
  margin-top: 0;
  width: auto;
}

#registerContent span#pwComp.okay{
  color: green;
}

#registerContent span#pwComp.nope{
  color: darkred;
}

#registerContent span#pwStrength.s0{ color: darkred; }
#registerContent span#pwStrength.s1{ color: red; }
#registerContent span#pwStrength.s2{ color: orangered; }
#registerContent span#pwStrength.s4{ color: black; }
#registerContent span#pwStrength.s4{ color: black; }
#registerContent span#pwStrength.s5{ color: green; }
#registerContent span#pwStrength.s6{ color: green; font-weight: bold; }
#registerContent span#pwStrength.s7{ color: green; font-weight: bold; text-shadow: 0 0 5px greenyellow }

#registerContent input.street{
  width: calc(100% - 66px);
}


#registerContent input.houseNumber{
  width: calc(34px);
  margin-left: 8px;
}

#registerContent select{
  width: calc(100% - 4px);
}

#registerContent span{
  margin-top: 16px;
  float:left;
  width: calc(100% - 8px);
}

#registerContent input[type="checkbox"]{
  float: left;
  width: auto;
  margin-top: 16px;
}

#registerSubmit{
  float: right;
  margin: 8px calc(25% + 40px) 8px 25%;
  border: none;
  background-color: orangered;
  border-radius: 5px;
  padding: 8px;
  color: white;
  font-weight: bold;
}

#registerSubmitWrap{
	overflow: auto;
	width: 100%;
}

@media screen and (max-width: 793px) {
	#registerContent{
		width: calc(100% - 64px);
		margin-left: 0%;
	}

	#registerContent .column{
		width: calc(100% - 40px);
	}

	#registerSubmit{
		margin-right: 40px;
	}
}